<!--<div class="details">-->
<!--  <section class="item-details">-->
<!--    <div class="item-title">-->
<!--      <img src="../../../../assets/images/logo.png" alt="product-icon" class="detail-img">-->
<!--      <h2>{{coupon.Details}}</h2>-->
<!--    </div>-->
<!--    <div class="item-title">-->
<!--      <p>{{ 'Edited By: '}}</p>-->
<!--      <span>{{coupon.EditedBy[0].Name}} + </span>-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--      <mat-icon>account_circle</mat-icon>-->
<!--    </div>-->

<!--    <div class="m-24">This page contains the best Macy's discount codes, curated by the Wethrift team. Save up to 70% off at Macy's.</div>-->
<!--  </section>-->

<!--  <section class="item-details">-->
<!--    <h5>Top {{coupon.StoreInfo.Name}}'s Coupon Codes For August 15th, 2024</h5>-->
<!--    <div>-->
<!--      <h6>{{coupon.DiscountPercent}}% off Wine: The best {{ coupon.StoreInfo.Name }}'s coupon code is {{ coupon.CouponCode }}</h6>-->
<!--      <p>Last reported working 21 minutes ago by shoppers <a href="/">[+] Show history</a></p>-->
<!--      <app-coupon-feedback [coupon]="coupon"></app-coupon-feedback>-->
<!--    </div>-->
<!--  </section>-->

<!--  <section class="item-details">-->
<!--    <h5>More {{coupon.StoreInfo.Name}}'s coupon codes</h5>-->
<!--    @for (item of coupons; track item){-->
<!--      <div>-->
<!--        <h6>{{item.DiscountPercent}}% off Wine: The best {{ item.StoreInfo.Name }}'s coupon code is {{ item.CouponCode }}</h6>-->
<!--        <p>Last reported working 21 minutes ago by shoppers <a href="/">[+] Show history</a></p>-->
<!--        <app-coupon-feedback [coupon]="item"></app-coupon-feedback>-->
<!--      </div>-->
<!--    }-->
<!--  </section>-->

<!--  <section class="item-details">-->
<!--    <p class="m-24">Our goal is to help you save money when you shop at Macy's. On this page four members of the Wethrift team have reviewed and curated the best {{coupon.StoreInfo.Name}}'s discount codes.</p>-->
<!--    <h4>Top {{coupon.StoreInfo.Name}}'s coupon History</h4>-->
<!--  </section>-->

<!--  <section class="item-details">-->
<!--    <h4 class="m-24">Submit a {{coupon.StoreInfo.Name}}'s coupon</h4>-->
<!--    <p>Have you found a working Macy's code that you'd like to share? Submit it here to help millions of other shoppers save at the checkout.</p>-->
<!--    <app-coupon-submit></app-coupon-submit>-->
<!--  </section>-->

<!--  <section class="item-details">-->
<!--    <h3 class="m-24">Why Trust Us?</h3>-->
<!--    <div>-->
<!--      <div>{{coupon.EditedBy[1].Name}}</div>-->
<!--      <div>Founder and CEO</div>-->
<!--    </div>-->
<!--    <p>-->
<!--      Over 3 million shoppers visit Wethrift every month to find coupon codes for over 70,000 online stores. Wethrift has been helping online shoppers save for over six years, and we take your trust seriously. We're dedicated to being transparent and helping shoppers save as our top priority.-->

<!--      Wethrift is built and maintained by our team of coupon reviewers and engineers, combining some of the latest AI technology with our team of experienced shopping experts to discover and publish over 2,000 new discount codes every day.-->

<!--      We know it can be frustrating when promo codes don't work, or worse, coupon sites publish fake-looking “deals” that won't help you save, just to get you to click on affiliate links. We're committed to publishing only real coupon codes, and being crystal clear about when and how we make money when you use our website.-->

<!--      We put a lot of effort into making sure each page is updated with the freshest coupons possible. We test thousands of discount codes every day to check they are working, and use feedback from shoppers like you to help improve every page on our website. If you've noticed something that's not right, you can report a problem to us.-->

<!--      Read more about Wethrift.-->
<!--    </p>-->
<!--  </section>-->
<!--  <section class="item-details">-->
<!--    <h3 class="m-24">How this page makes money?</h3>-->
<!--    <p>-->
<!--      When you click a promo code on this page, we may earn a commission via an affiliate agreement with Macy's. This won't cost you anything extra, and it helps us to keep Wethrift on track with our mission - to help as many shoppers as possible save money at the online checkout.-->

<!--      Most of the pages on Wethrift have no affiliate agreements. We believe in helping shoppers save at as many stores as possible, even if there's no financial incentive for us to do to.-->

<!--      The trust of shoppers is very important to us, and we want to be completely transparent about how we make money. Our pages that have affiliate agreements are clearly labelled.-->

<!--      We don't display any ads on our website (we find them just as annoying as you do), and we don't sell any of our personal or shopping information.-->

<!--      Learn more about how Wethrift makes money.-->
<!--    </p>-->
<!--  </section>-->
<!--</div>-->

<app-carousel></app-carousel>
