section {
  margin-bottom: 2rem;
}

.feature-img {
  max-width: fit-content;
}

.logo-img {
  max-width: 128px;
  border-radius: 50%;
}

.review {
  padding: 5rem;
  //margin: 2rem;
}

.review-icon {
  //color: white;
  height: fit-content;
  width: fit-content;
  font-size: 3rem;
}

.extension {
  color: white;
}

